*, body, html {
    font-family: GFPersian, Tahoma, serif;
}

h1, h2, h3, h4, h5, h6, h2 span, h2 a, h3 span, label, td a, td a strong, td strong a, th, input, li, ul, select, textarea,
#gf_merge_tag_list a,
#toplevel_page_gf_edit_forms a,
#toplevel_page_gf_edit_forms .wp-menu-name,
.newform_notice, .gatewayset p,
.gatewayset td,
#no-fields span,
.group-header, #gf_form_toolbar a,
.gform_tabs a,
.add-new-h2,
.button,
.stat b,
.gresults-chart-wrapper *,
div.gresults-results-filter-section-label,
div.gresults-results-field-label,
#gresults-results td,
#gresults-results th,
#gresults-results tr,
.field_hover div.gf-pagebreak-container div.gf-pagebreak-text-main span,
.field_selected div.gf-pagebreak-container div.gf-pagebreak-text-main span,
.gf-pagebreak-text-after,
.gf-pagebreak-text-before,
div.gf-pagebreak-text-main span,
.field_type li input,
.add-buttons-title,
.field_type li input,
.add-buttons-title,
.entry-detail-view td,
.entry-detail-view td *,
.gf_dashboard_view td i,
.gforms_settings_wrap td,
.gforms_settings_wrap th,
.gforms_settings_wrap th strong,
.gforms_settings_wrap td strong,
#entry_list_form tbody *:not(.fa),
.gform-admin .gform-dropdown__control-text,
.gform-admin .gform-dropdown__group-text,
.gform-admin .gform-input::-webkit-input-placeholder,
.gform-admin .gform-input::placeholder,
.gform-admin .gform-button,
.gform-admin .gform-input,
.gform-admin .gform-form-toolbar__container .gform-dropdown #gform-form-switcher-search::placeholder,
.gform-admin .gform-settings-panel__content .form-list-head h2,
.gcolumn_wrapper .gform_select_column_heading,
.gcolumn_wrapper .sortable_available .ui-sortable-handle,
.gform-admin .gform-text.gform-text--color-port.gform-droplist__item-trigger-text{
    font-family: GFPersian, Tahoma, serif !important;
}