#gf_merge_tag_list a {
    font-family: tahoma, serif !important;
}

#toplevel_page_gf_edit_forms a,
#toplevel_page_gf_edit_forms .wp-menu-name,
.newform_notice,
.gatewayset p,
.gatewayset td,
h1,
h2,
h3,
h4,
h5,
h6,
h2 span,
h3 span,
label,
#no-fields span,
.group-header,
#gf_form_toolbar a,
.gform_tabs a,
td a,
td a strong,
td strong a,
th,
.add-new-h2,
.button,
.stat b,
.gresults-chart-wrapper *,
div.gresults-results-filter-section-label,
div.gresults-results-field-label,
#gresults-results td,
#gresults-results th,
#gresults-results tr,
h2 a {
    font-weight: normal !important;
}

h4,
h5,
h6 {
    font-size: 16px !important;
}

.group-header {
    font-size: 16px !important;
    font-weight: normal !important;
}

.row-title,
#toplevel_page_gf_edit_forms .wp-menu-name,
.newform_notice {
    font-size: 16px !important;
}

a.gf_toolbar_active,
.gform_tabs a,
label {
    font-size: 13px !important;
}

div.gf_entry_detail_pagination {
    top: -10px !important;
}

#TB_ajaxContent,
#TB_title {
    text-align: right !important;
}

#gresults-results {
    margin-right: 0px !important;
    margin-left: 300px !important;
}

div#gf_nofield_1_instructions,
div#gf_nofield_2_instructions,
div#gf_nofield_3_instructions,
div#gf_nofield_4_instructions,
div#gf_nofield_5_instructions {
    background-image: url("../images/Gravity_Forms_fa.png") !important;
}

.gf_nofield_3_instructions_copy_bottom {
    margin-left: -163px !important;
}

.gf_nofield_4_instructions_copy_bottom {
    margin-top: 13px !important;
    margin-left: -220px !important;
}

#gf_user_form .left_header,
.metaname,
.metavalue {
    float: right !important;
}

.gf_dashboard_form_title_header {
    text-align: right !important;
}

.gf_dashboard_view td i {
    font-style: normal !important;
}

.gfur-form-select {
    margin-right: 415px !important;
}

optgroup {
    font-style: normal !important;
}

.choice_with_value_and_price label {
    margin: 0 60px 0 0 !important;
    padding-left: 26px !important;
}

.choice_with_price .gfield_choice_header_label,
.choice_with_value .gfield_choice_header_label {
    margin: 0 69px 0 99px !important;
}


.gforms_edit_form .gform-compact-view #gform_fields label.gfield_label>.gfield_required{
    margin-inline-end: unset !important;
    margin-inline-start: 6px !important;
}

.ui-tabs .ui-tabs-nav li {
    margin-left: 0.2em !important;
    margin-right: 0 !important;
    float: right !important;
}

div#gf_nofield_1_instructions span,
div#gf_nofield_2_instructions span,
div#gf_nofield_3_instructions span,
div#gf_nofield_4_instructions span,
div#gf_nofield_5_instructions span {
    line-height: 2.5rem !important;
}

.calculation_setting .gf_calculation_buttons input,
html[dir="rtl"]
body.wp-admin
.calculation_setting
.gf_calculation_buttons
input,
.calculation_setting textarea,
html[dir="rtl"] body.wp-admin .calculation_setting textarea,
.css_class_setting input,
html[dir="rtl"] body.wp-admin .css_class_setting input,
.prepopulate_field_setting input,
html[dir="rtl"] body.wp-admin .prepopulate_field_setting input,
#form_page_querystring {
    direction: ltr !important;
    text-align: left !important;
}

.mt-gform_notification_message,
.mt-form_confirmation_message {
    margin-right: -30px !important;
}

.entry-detail-view td ul {
    padding-right: 15px;
}

#entry_filters {
    float: right;
}

.gform-settings-panel__content #entry_search_container {
    align-items: center !important;
}

.gform-settings-panel__content .select2-container .select2-selection__rendered, .gform-settings-panel__content select:not([multiple]) {
    padding-right: 0.6875rem !important;
    padding-left: 2rem !important;
}

#entry_search_button {
    float: left;
}

.gform-settings-panel__content#entry_list_form .tablenav .tablenav-pages .pagination-links span:last-child {
    margin-right: .1875rem !important;
}

#entry_list_form .subsubsub {
    float: right !important;
    clear: both;
}

#edit_payment_status_details * {
    font-size: 12px !important;
}

#notes .actions input.button {
    width: 100px !important;
}

.gform-settings-panel__content input[type="checkbox"] {
    margin: 0 0 0 8px !important;
}

.gform-admin .gf_tooltip i.gform-icon--question-mark {
    transform: scaleX(-1) !important;
}

.gform-settings__navigation .icon {
    margin-right: unset !important;
    margin-left: 0.75rem;
}

.gform-form-toolbar__icon {
    margin-right: unset !important;
    margin-left: 0.5rem;
}

#gform-settings .gform-settings-panel__content select:not([multiple]) {
    padding: 0.6875rem 1rem 0.6875rem 2rem !important;
}

#gform-settings .gform-settings-panel__content select:not([multiple]) {
    background-position: left 0.6rem top 55% !important;
}

.sidebar .sidebar-instructions {
    padding: 21px 57px 21px 23px !important;
}

.sidebar .sidebar-instructions p {
    text-align: right;
}

.sidebar .sidebar-instructions::before {
    left: unset !important;
    right: 1rem;
}

.gforms_form_settings_wrap {
    overflow-x: hidden;
}

.gform-settings__content table.gform_system_report td,
.gform-settings__content table.gform_system_report th,
.rtl .gform-settings__content table.gform_system_report td,
.rtl .gform-settings__content table.gform_system_report th {
    text-align: right !important;
    direction: rtl !important;
}

.gform-admin-screen div.resource_list li,
.gform-admin-screen div.resource_list h3 {
    text-align: right;
}

.gform-admin-screen div#gforms_helpboxes a {
    margin: -2px 35px 0 0 !important;
}

.gform-admin-screen #gf_help_page_search {
    position: relative;
}

.gform-settings__wrapper #gform-settings-save {
    direction: ltr !important;
}

#gentry_display_empty_fields {
    margin-right: unset !important;
    margin-left: 6px !important;
}

.gform-settings__content .entry-details-table th {
    text-align: right !important;
}

.gform-settings__wrapper .gf_entry_next.gf_entry_pagination,
.gform-settings__wrapper .gf_entry_prev.gf_entry_pagination {
    transform: rotateY(180deg);
}

div.gf_entry_detail_pagination {
    float: left !important;
}

.entry-notes .note-details .author .avatar {
    margin-right: unset !important;
    margin-left: 1rem !important;
}

.entry-notes .note-details .author {
    align-items: center;
}

.gform-settings__content #poststuff .postbox .actions select {
    margin-right: unset !important;
    margin-left: 10px;
}

.gform-settings-panel__content select:not([multiple]) {
    background-position: right 0.6rem top 55% !important;
}

.gform-settings-panel__content #minor-publishing a {
    word-break: break-all;
}

.gform-settings-panel__content input[type=checkbox] {
    margin: 0 0 0 .75rem !important;
}

.gform-settings-panel__content select:not([multiple]) {
    background-position-x: left !important;
}

.form-list-head h2 {
    margin: 0 0 0 1rem !important;
}

#TB_ajaxContent .gform_column_wrapper .bulk-arrow-mid {
    transform: scale(-1, 1);
}

button.conditional_logic_flyout__close i::before {
    font-family: 'dashicons' !important;
    top: 4px;
}


.gform-admin .gform-alert.gform-alert--theme-cosmos.gform-alert--notice .gform-alert__message-wrap .gform-alert__message,
.gform-admin .gform-alert.gform-alert--inline .gform-alert__message-wrap .gform-alert__message {
    text-align: right !important;
}

/**
* Help page
*/
div#gforms_helpboxes .gforms_helpbox div.resource_list li::before {
    transform: rotate(180deg) !important;
}

/**
* Addon page
*/
td.featured-addon img.addon-thumbnail {
    float: right !important;
    margin-right: unset !important;
    margin-left: 2%;
}